      <div class="card col-12 col-lg-4 col-md-6">
        <a href="./weekly-content\week1.html"><img class="card-img-top" src="/assets/css/images/{{image}}" alt="Card image cap"></a>
        <div class="card-body">  
          <h4 class="card-title"> Week {{blog.title}}</h4>
          <p class="card-text">
            {{blog.content}}
          </p>
          <a href="/library" class="btn main-Btn btn-primary" role="button">Week {{id}}</a>
        </div>
      </div>
