      <div class="card col-12 col-lg-4 col-md-6">
        <div class="card-body">  
          <h4 class="card-title"> {{blog.title}}</h4>
          <p class="card-text">
            {{blog.content}}
          </p>
          <a href="/blog/{{id}} class="btn main-Btn btn-primary" role="button">Read More</a>
        </div>
      </div>
