      <div class="card text-center mt-2">
        <div class="card-body">  
          <h3 class="card-header"> {{title}}</h3>
          <p class="card-text">
            {{content}}
          </p>
          <a href="/blog/{{id}}" class="btn main-Btn btn-primary" role="button">Read More</a>
        </div>
      </div>
