<section>
  <h2>Your Blogs</h2>
    {{#each userbloglist as |blog|}} {{!-- user created blogs--}}
    {{> dashboard-blog}} {{!-- partial view--}}
    {{/each}}

</section>


<button type="submit" class="btn" ><a style="color:black" href="/dashboard/new">+ New Post</a></button>

<script src="/js/create-blog.js"></script>


